<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zekisoft.todoapp.mapper.TodoMapper">
    
    <resultMap id="TodoResultMap" type="com.zekisoft.todoapp.model.Todo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    
    <select id="findAllByOrderByCreatedAtDesc" resultMap="TodoResultMap">
        SELECT id, title, created_at
        FROM todo
        ORDER BY created_at DESC
    </select>
    
    <insert id="insertTodo" parameterType="com.zekisoft.todoapp.model.Todo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo (title, created_at)
        VALUES (#{title}, #{createdAt})
    </insert>
    
    <update id="updateTodo" parameterType="com.zekisoft.todoapp.model.Todo">
        UPDATE todo
        SET title = #{title}
        WHERE id = #{id}
    </update>
    
    <select id="findById" resultMap="TodoResultMap">
        SELECT id, title, created_at
        FROM todo
        WHERE id = #{id}
    </select>
    
</mapper>